<div class="container-fluid">
  <div class="row row1 shadow-lg">
    <ejs-chart [primaryXAxis]="xAxis" [primaryYAxis]="yAxis" [title]="chartTitle" [legendSettings]="legend" [tooltip]="tooltipSettings">
      <e-series-collection>
        <e-series type="Line" [dataSource]="data" xName="month" yName="sale" name="Sales" [marker]="markerSettings"></e-series>
      </e-series-collection>
    </ejs-chart>
  </div>
  <div class="row row2">
    <div class="col-sm-4 mt-3">
      <mat-card class="card-one shadow-lg">
        <mat-card-content>
         <p class="h2 fw-bold">Users</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4 mt-3">
      <mat-card class="card-two shadow-lg">
        <mat-card-content>
         <p class="h2 fw-bold">People</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-4 mt-3">
      <mat-card class="card-three shadow-lg">
        <mat-card-content>
          <p class="h2 fw-bold">Society</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>