<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="container-fluid admin-profile">
        <div class="row">
            <p class="text-center text-white">Admin profile</p>
        </div>
      </div>
      <br>
      <div class="container-fluid">
        <div class="row mt-3">
          <!-- <button mat-raised-button color="primary" (click)="showAdminSyst()" >SYSTEM ADMINISTRATION</button> -->
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>ADMINISTRATION</span>
              </mat-panel-title>
              <mat-panel-description>
                <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container-fluid">
              <div class="row">
                <button mat-raised-button (click)="showAdminSyst()" >ADMIN UPDATE</button>
              </div>
              <div class="row mt-1">
                <button mat-raised-button (click)="showAdminSyst()" >GIVE ACCESS</button>
              </div>
              <div class="row mt-1">
                <button mat-raised-button (click)="showAdminSyst()" >UPDATE DATABASE</button>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
        <div class="row mt-2">
          <button mat-raised-button>Primary</button>
        </div>
        <div class="row mt-2">
          <button mat-raised-button>Primary</button>
        </div>
        <div class="row mt-2">
          <button mat-raised-button>Primary</button>
        </div>
        <div class="row mt-2">
          <button mat-raised-button>Primary</button>
        </div>
        <div class="row mt-2">
          <button mat-raised-button>Primary</button>
        </div>
        <div class="row mt-2">
          <button mat-raised-button>Primary</button>
        </div>
        <div class="row mt-2">
          <button mat-raised-button>Primary</button>
        </div>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content mt-2">
        <div class="container-fluid">
          <button type="button" mat-button (click)="drawer.toggle()">
            <!-- <mat-icon fontIcon="home" color="primary" class="btn-icon" ></mat-icon> -->
            <i class="fa-solid fa-house fa-1x home-icon"></i>
        </button>
        </div>
        <div class="container-fluid">
            <div *ngIf="showAppHomeDash">
              <app-home-dashboard></app-home-dashboard>
            </div>
            <div *ngIf="showAdministrationSyst">
              <app-administration-syst></app-administration-syst>
            </div>
        </div>
    </div>
  </mat-drawer-container>
  