<mat-tab-group>
    <mat-tab label="ADD PERSONNE">
        <div class="container-fluid">
            <div class="row mt-2">
                <div class="col-8">
                    <button mat-icon-button color="primary"><mat-icon>refresh</mat-icon></button>
                    <form [formGroup]="peopleForm" (ngSubmit)="postPersonnes(peopleForm.value)">
                        <fieldset class="personInfo">
                            <legend>CHILD INFORMATION</legend>
                            <mat-form-field class="inputFild">
                                <mat-label>NOM</mat-label>
                                <input type="text" formControlName="nom_Enf" matInput  placeholder="Ex. mr robot" [autocomplete]="false" >
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>PRENOM</mat-label>
                                <input type="text" formControlName="nom_Enf" matInput  placeholder="Ex. mr robot" [autocomplete]="false">
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="inputFild">
                                <mat-label>SEX ENFANT</mat-label>
                                <mat-select>
                                  <mat-option *ngFor="let s of gender" [value]="s.value" formControlName="sex_Enf" name="sex_Enf" ngDefaultControl >
                                    {{s.viewValue}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>PROFESSION</mat-label>
                                <input type="text"  matInput  placeholder="Ex. Ingeneer" [autocomplete]="false">
                            </mat-form-field>
                            <mat-form-field class="inputFild" >
                                <mat-label>DATE NAISSANCE ENFANT</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="date_Nsc">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <!-- <input matInput type="text" formControlName="date_Nsc"> -->
                            </mat-form-field>
                        </fieldset>
                        <br>
                        <fieldset class="fatherInfo">
                            <legend>FATHER INFORMATION</legend>
                            <mat-form-field class="inputFild">
                                <mat-label>NOM</mat-label>
                                <input type="text" formControlName="nom_Pr" matInput  placeholder="Ex. nyongero">
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>PRENOM</mat-label>
                                <input type="text" formControlName="nom_Pr" matInput  placeholder="Ex. claude">
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>AGE PERE</mat-label>
                                <input type="number" formControlName="ag_Pr" matInput>
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>FONCTION PERE</mat-label>
                                <input type="text" formControlName="fnc_Pr" matInput  placeholder="Ex. ingenieur">
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="fill" class="inputFild">
                                <mat-label>IL EST VIVANT PERE</mat-label>
                                <mat-select>
                                  <mat-option *ngFor="let live of islive" [value]="live.value" formControlName="is_Alifepr" name="is_Alifepr" ngDefaultControl>
                                    {{live.viewValue}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>NATIONALITE PERE</mat-label>
                                <input type="text" formControlName="nt_Pr" matInput  placeholder="Ex. burundaise">
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>COLLINE PERE</mat-label>
                                <input type="text" formControlName="cl_Pr" matInput  placeholder="Ex. typing...">
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>COLLINE NOM PERE</mat-label>
                                <input type="text" formControlName="cl_Npr" matInput  placeholder="Ex. typings...">
                            </mat-form-field>
                        </fieldset>
                        <br>
                        <fieldset class="motherInfo">
                            <legend>MOTHER INFORMATION</legend>
                            <mat-form-field class="inputFild">
                                <mat-label>NOM</mat-label>
                                <input type="text" formControlName="nm_Mr" matInput  placeholder="Ex. sarah">
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>PRENOM</mat-label>
                                <input type="text" formControlName="nm_Mr" matInput  placeholder="Ex. sarah">
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>AGE MERE</mat-label>
                                <input type="number" formControlName="ag_Mr" matInput>
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>FONCTION MERE</mat-label>
                                <input type="text" formControlName="fnc_mr" matInput  placeholder="Ex. business woman">
                            </mat-form-field>
                            <br>
                            <mat-form-field appearance="fill" class="inputFild">
                                <mat-label>ELLE EST VIVANTE MERE</mat-label>
                                <mat-select>
                                  <mat-option *ngFor="let live of islive" [value]="live.value" formControlName="is_Alifemr" name="is_Alifemr" ngDefaultControl>
                                    {{live.viewValue}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>NATIONALITE MERE</mat-label>
                                <input type="text" formControlName="nt_Mr" matInput  placeholder="Ex. burundaise">
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>COLLINE MERE</mat-label>
                                <input type="text" formControlName="cl_Mr" matInput  placeholder="Ex. typings...">
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>COLLINE NOM MERE</mat-label>
                                <input type="text" formControlName="cl_Nmr" matInput  placeholder="Ex. typings...">
                            </mat-form-field>
                        </fieldset>
                        <br>
                        <fieldset class="systeInfo">
                            <legend>SYSTEM ACTION</legend>
                            <mat-form-field class="inputFild">
                                <mat-label>DATE ENREGISTREMENT</mat-label>
                                <input matInput [matDatepicker]="picker_two" formControlName="date_Enreg">
                                <mat-datepicker-toggle matIconSuffix [for]="picker_two"></mat-datepicker-toggle>
                                <mat-datepicker #picker_two></mat-datepicker>
                                <!-- <input matInput type="text" formControlName="date_Enreg">  -->
                            </mat-form-field>
                            <mat-form-field class="inputFild">
                                <mat-label>NOM AGENT</mat-label>
                                <input type="text" formControlName="empl_Name" matInput  placeholder="Ex. claude">
                            </mat-form-field>
                        </fieldset>
                        <br>
                        <button mat-raised-button color="primary" [disabled]="peopleForm.invalid">ADD RECORD</button>
                    </form>
                </div>
                <div class="col-4">
                    <div class="container-fluid">
                        <p>PERSON PROFILE</p>
                        <div class="row">
                            <div class="col">
                                <webcam [height]="200" [width]="200" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
                                <br>
                                <button mat-flat-button color="primary" (click)="triggerSnapshot()">Take</button>
                            </div>
                            <div class="col" *ngIf="webcamImage">
                                <h2 *ngIf="false">is your image here</h2>
                                <img [src]="webcamImage.imageAsDataUrl" [height]="150" [width]="200">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="UPDATE AND DELETE PERSONNE"> Content 2 </mat-tab>
    <mat-tab label="VIEW PERSONNE">
        <button mat-raised-button color="primary" (click)="getPersonnes()">refresh</button>
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">N PERE</th>
                    <th scope="col">AGE PERE</th>
                    <th scope="col">FNCT PERE</th>
                    <th scope="col">IS ALIFEPERE</th>
                    <th scope="col">NTLTE PERE</th>
                    <th scope="col">COLLINE PERE</th>
                    <th scope="col">COLLINE NOM PERE</th>
                    <th scope="col">NOM MERE</th>
                    <th scope="col">AGE MERE</th>
                    <th scope="col">FONCTION MERE</th>
                    <th scope="col">IS ALIFEMERE</th>
                    <th scope="col">NATIONALITE MERE</th>
                    <th scope="col">COLLINE MERE</th>
                    <th scope="col">COLLINE NOM MERE</th>
                    <th scope="col">NOM ENFANT</th>
                    <th scope="col">SEX</th>
                    <th scope="col">D.O.B</th>
                    <th scope="col">ID ENFANT</th>
                    <th scope="col">D.O.R</th>
                    <th scope="col">AGENT NAME</th>
                    <th scope="col">ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of peopleItems" >
                    <th scope="row">{{ item.id_Nsc }}</th>
                    <td>{{ item.nom_Pr }}</td>
                    <td>{{ item.ag_Pr }} </td>
                    <td>{{ item.fnc_Pr }}</td>
                    <td>{{ item.is_Alifepr }}</td>
                    <td>{{ item.nt_Pr }}</td>
                    <td>{{ item.cl_Pr }}</td>
                    <td>{{ item.cl_Npr }}</td>
                    <td>{{ item.nm_Mr }}</td>
                    <td>{{ item.ag_Mr }}</td>
                    <td>{{ item.fnc_mr }}</td>
                    <td>{{ item.is_Alifemr }}</td>
                    <td>{{ item.nt_Mr }}</td>
                    <td>{{ item.cl_Mr }}</td>
                    <td>{{ item.cl_Nmr }}</td>
                    <td>{{ item.nom_Enf }}</td>
                    <td>{{ item.sex_Enf }}</td>
                    <td>{{ item.date_Nsc }}</td>
                    <td>{{ item.id_Enf }}</td>
                    <td>{{ item.date_Enreg }}</td>
                    <td>{{ item.empl_Name }}</td>
                    <td>
                      <button mat-raised-button><i class="fa fa-eye" aria-hidden="true"></i></button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>
  
  